{% extends 'mobile_app/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-3">
    <h3 class="display-2 text-center text-primary my-5">department</h3>
        <div class="table-responsive-md">
            <table class="table table-bordered text-center">
              <thead class="thead-dark ">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">manager_ssn</th>
                  <th scope="col">department_name</th>
                  <th scope="col">department_num</th>
                </tr>
              </thead>
              <tbody>
                {% for dep in db_department_objects %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td><a href="{% url 'mobile_app:employee-details' dep.manager_ssn %}">{{ dep.manager_ssn }}</a></td>
                      <td><a href="{% url 'mobile_app:department-details' dep.department_num %}">{{ dep.department_name }}</a></td>
                      <td><a href="{% url 'mobile_app:department-details' dep.department_num %}">{{ dep.department_num }}</a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

    {% if db_order_objects|length >= 10 %}
        {% include "mobile_app/_pagination.html" with page=db_department_objects %}
    {% endif %}
    </div>
{% endblock content %}