{% extends 'mobile_app/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-3">
    <h3 class="display-2 text-center text-primary my-5">employee</h3>
        <div class="table-responsive-md overflow-auto mb-5">
            <table class="table table-bordered text-center">
              <thead class="thead-dark ">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">ssn</th>
                  <th scope="col">fname</th>
                  <th scope="col">lname</th>
                  <th scope="col">email</th>
                  <th scope="col">salary</th>
                  <th scope="col">dno</th>
                </tr>
              </thead>
              <tbody>
                {% for emp in db_employee_objects %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td><a href="{% url 'mobile_app:employee-details' emp.ssn %}" style="text-transform: none;">{{ emp.ssn }}</a></td>
                      <td>{{ emp.fname }}</td>
                      <td>{{ emp.lname }}</td>
                      <td>{{ emp.email }}</td>
                      <td>{{ emp.salary }}</td>
                      <td><a href="{% url 'mobile_app:employee-details' emp.dno.department_num %}">{{ emp.dno.department_num }}</a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

    {% if db_employee_objects|length >= 10 %}
        {% include "mobile_app/_pagination.html" with page=db_employee_objects %}
    {% endif %}
    </div>
{% endblock content %}