{% extends 'mobile_app/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-3">
    <h3 class="display-2 text-center text-primary my-5">order '{{ current_order.order_num }}'</h3>
    <div class="border p-3 my-5 nice-shadow border-muted rounded">
    <h3 class="my-3 border-bottom pb-2">employees [{{ db_employee_objects|length }}]</h3>
        <div class="table-responsive-md text-center">
           <table class="table table-bordered text-center">
              <thead class="thead-dark ">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">ssn</th>
                  <th scope="col">fname</th>
                  <th scope="col">lname</th>
                  <th scope="col">email</th>
                  <th scope="col">salary</th>
                  <th scope="col">hours</th>
                </tr>
              </thead>
              <tbody>
                {% for emp in db_employee_objects %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td><a href="{% url 'mobile_app:employee-details' emp.employee_ssn.ssn %}" style="text-transform: none;">{{ emp.employee_ssn.ssn }}</a></td>
                      <td>{{ emp.employee_ssn.fname }}</td>
                      <td>{{ emp.employee_ssn.lname }}</td>
                      <td>{{ emp.employee_ssn.email }}</td>
                      <td>{{ emp.employee_ssn.salary }}</td>
                      <td>{{ emp.hours }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    <div class="border p-3 my-5 nice-shadow border-muted rounded">
    {% if db_product_objects|length > 0 %}
        <h3 class="my-3 border-bottom pb-2">products [{{ db_product_objects|length }}]</h3>
        <div class="table-responsive-md text-center">
            <table class="table table-bordered">
              <thead class="thead-dark ">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">product_number</th>
                  <th scope="col">product_name</th>
                  <th scope="col">price</th>
                  <th scope="col">release_year</th>
                </tr>
              </thead>
              <tbody>
                {% for product in db_product_objects %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td><a href="{% url 'mobile_app:product-details' product.product_number.product_number %}">{{ product.product_number.product_number }}</a></td>
                      <td>{{ product.product_number.product_name }}</td>
                      <td>{{ product.product_number.price }}</td>
                      <td>{{ product.product_number.release_year }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning m-0" role="alert">no product yet</div>
    {% endif %}
    </div>
    {% if db_employee_objects|length >= 10 %}
        {% include "mobile_app/_pagination.html" with page=db_employee_objects %}
    {% endif %}
    </div>
{% endblock content %}